[submodule "documentation"]
	path = documentation
	url = git://github.com/RSNA/isn-edge-server-documentation.git
[submodule "hl7-receiver-app"]
	path = hl7-receiver-app
	url = git://github.com/RSNA/isn-edge-server-hl7-receiver.git
[submodule "prepare-content-app"]
	path = prepare-content-app
	url = git://github.com/RSNA/isn-edge-server-prepare-content.git
[submodule "token-app"]
	path = token-app
	url = git://github.com/RSNA/isn-edge-server-token.git
[submodule "transfer-content-app"]
	path = transfer-content-app
	url = git://github.com/RSNA/isn-edge-server-transfer-content.git
[submodule "database"]
	path = database
	url = git://github.com/RSNA/isn-edge-server-database.git
[submodule "rsna"]
	path = rsna
	url = git://github.com/RSNA/isn-edge-server-rsna.git
[submodule "core"]
	path = core
	url = git://github.com/RSNA/isn-edge-server-core.git
[submodule "receive-content-app"]
	path = receive-content-app
	url = git://github.com/RSNA/isn-edge-server-receive-content.git
[submodule "CTP"]
	path = CTP
	url = git://github.com/RSNA/CTP-ISN-Installer.git
