[Unit]
Description=TorqueBox


[Service]
User=rsna
WorkingDirectory=/home/rsna/torquebox-3.1.2
ExecStart=/home/rsna/torquebox-3.1.2/jboss/bin/standalone.sh -b 0.0.0.0 -Dhttp.port=3000

[Install]
WantedBy=multi-user.target
